[defaults]
inventory = inventory/hosts.yml
private_key_file = ~/.ssh/ansible_proxmox
host_key_checking = True
retry_files_enabled = False
vault_password_file = .vault_password

[privilege_escalation]
become = False
become_method = sudo
become_user = root
